.selectWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--padding-2);
  gap: var(--gap-half-unit);
  min-width: var(--formfield-min-width);
  height: var(--formfield-height);
  background: var(--color-white);
  border: 1px solid var(--color-border-2);
  border-radius: var(--border-radius-1);
  cursor: pointer;
  width: 100%;
}

.selectWrapper:hover {
  border-color: var(--color-primary);
}

.selectWrapper:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-focus);
}

.selectWrapper > span:last-of-type {
  font-size: var(--font-size-md);
  font-weight: 500;
  font-family: var(--font-family-jakarta);
  color: var(--color-black);
  white-space: nowrap;
}

.selectLabel {
  font-family: var(--font-family-jakarta);
  font-weight: 400;
  font-size: var(--font-size-xs);
  color: var(--color-text-secondary);
}

.selectValue {
  font-family: var(--font-family-jakarta);
  font-weight: 500;
  font-size: var(--font-size-md);
  line-height: 20px;
  color: var(--color-text-primary);
}

.selectContent {
  overflow: hidden;
  background: var(--color-white);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow-1);
  min-width: var(--min-width, 180px);
  animation: slideDownAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 20000;
}

.selectItem {
  font-family: var(--font-family-jakarta);
  font-size: var(--font-size-sm);
  line-height: 20px;
  color: var(--color-text-primary);
  padding: var(--padding-2) var(--padding-3);
  cursor: pointer;
  user-select: none;
  outline: none;
}

.selectItem[data-highlighted] {
  background: var(--color-foreground-light);
  color: var(--color-primary);
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tablet Responsive Design */
@media (max-width: 768px) {
  .selectWrapper {
    width: 100%;
  }
}
