.button {
  border: none;
  cursor: pointer;
  font-family: var(--font-family-jakarta);
  font-size: var(--font-size-button);
  border-radius: var(--border-radius-1);
  padding: var(--padding-1) var(--padding-2);
  margin-left: var(--margin-1);
  font-weight: 400;
  word-wrap: nowrap;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.disabled {
  background-color: var(--color-disable);
  color: var(--color-white);
  cursor: not-allowed;
}
