.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--section-gap);
}

.packageSelectorWrapper {
  padding-top: var(--padding-10);
  min-height: 150px; /* Fixed height to prevent layout shift */
}
