/* Main section container */
.section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* Content container - holds title and description */
.contentContainer {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  /* align-items: center; */
  width: 100%;
}

/* Title container */
.titleContainer {
  flex: 1;
}

/* Description container */
/* .descriptionContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
} */

/* Image container */
.imageContainer {
  width: 100%;
}

/* Typography styles */
.title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-heading-1);
  font-weight: 500;
  letter-spacing: 4%;
  color: var(--color-black);
  margin: 0;
}

.controlledLineHeight {
  line-height: 1;
}

.description {
  margin-top: var(--space-4);
  text-align: left;
  width: 100%;
  max-width: unset;
}

.highlight {
  font-family: var(--font-family-display);
  font-size: calc(1rem * 6);
  font-weight: 400;
  color: var(--color-secondary);
  text-transform: capitalize;
  letter-spacing: 2%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-xl);
}

/* Responsive Design */
@media (max-width: 768px) {
  .section {
    gap: var(--space-4);
  }
  .titleContainer {
    width: 100%;
  }

  /* .descriptionContainer {
    width: 100%;
    justify-content: flex-start;
  } */

  .title {
    font-size: var(--font-size-heading-2);
    text-align: left;
  }

  .highlight {
    font-size: calc(1rem * 4);
  }

  .description {
    text-align: left;
    max-width: unset;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: var(--font-size-heading-3);
  }

  .highlight {
    font-size: calc(1rem * 3);
  }
}
