.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--padding-2);
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

.fluid {
  max-width: 100%;
}

.noPadding {
  padding: 0;
}

/* Tablet Responsive Design */
@media (max-width: 1024px) {
  .container {
    padding: 0 var(--padding-2);
  }
}

/* Mobile Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 0 var(--padding-2);
  }
}

/* Desktop and larger screens */
@media (min-width: 1200px) {
  .container:not(.noPadding) {
    padding: 0;
  }
}
