.planInFourEasyStepsSection {
  padding: 0 var(--space-10);
  position: relative;
}

.stepsContainer {
  position: relative;
  width: 100%;
}

.stepsWrapper {
  position: relative;
  width: 100%;
  padding: var(--space-10) 0;
}

.contentContainer {
  max-width: var(--layout-container-max-width);
}

.stepsWave {
  position: relative;
  transform: translateY(5%);
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: relative;
  z-index: 2;
  gap: var(--space-10);
}

@media (max-width: 1200px) {
  .planInFourEasyStepsSection {
    padding: 0 var(--space-4);
  }

  .stepsWave {
    display: none;
  }
  .steps {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .titleContainer {
    flex-direction: column;
    align-items: center;
    gap: var(--space-4);
  }

  .description {
    text-align: center;
  }
}
