.step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: var(--space-5);
  min-width: 223px;
  min-height: 172px;
}

.top {
  margin-top: 0;
}

.bottom {
  margin-top: var(--space-10);
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--space-5);
  gap: var(--space-2);
  width: var(--space-20);
  height: var(--space-20);
  background: var(--color-orange-100);
  border-radius: 50%;
}

.icon {
  width: var(--space-10) !important;
  height: var(--space-10) !important;
  color: var(--color-secondary);
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: var(--space-2);
  width: 100%;
}

.title {
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-lg);
  color: var(--color-text-primary);
  text-align: center;
  margin: 0;
}

.description {
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-sm);
  text-align: center;
  color: var(--color-text-secondary);
  margin: 0;
}
